<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','{{ site.analytics.google.tracking_id }}','auto');
  ga('set', 'anonymizeIp', {{ site.analytics.google.anonymize_ip | default: false }});
  ga('require', 'ipMeta', {
      apiKey: 'd5e6ad3d08b5b28a36fb7b2e21be0db8cfa4b7c37ce1f367f66da1c8424e4975',
      serviceProvider: 'dimension7',
      networkDomain: 'dimension8',
      networkType: 'dimension9',
  });
  ga('ipMeta:loadNetworkFields');
  ga('send', 'pageview');
</script>

<script src="https://www.google-analytics.com/analytics.js" async></script>
<!-- IpMeta must be included after Google Analytics -->
<script async src="https://ipmeta.io/plugin.js"></script>